<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parivahan Gndec</title>
    <style>
        .portal{
            height : 200px;
            width : 400px;
            border : 2px solid black;
            float : left;
            margin : 25px 35px 25px 35px;
        }
        #heading{
            margin-left : 35%;
            font-size: 50px;
        }
        .row{
            margin-left : 200px;
            margin-top: 100px;
        }
    </style>
</head>
<body>
    <div id = 'heading'>
        PARIVAHAN GNDEC
    </div>
    <div class='row'>
        <div class='portal'>
            <a href = 'student/'>Student Portal</a>
        </div>

        <div class='portal'>
            <a href = 'caretaker/'>Care Taker Portal</a>
        </div>

        <div class='portal'>
            <a href = 'advisor/'>Advisor Portal</a>
        </div>
    </div>

    <div class='row'>
        <div class='portal'>
            <a href = 'hod/'>HOD Portal</a>
        </div>

        <div class='portal'>
            <a href = 'pgblock/'>PG Block Portal</a>
        </div>

        <div class='portal'>
            <a href = 'prtc/'>PRTC Portal</a>
        </div>
    </div>
</body>
</html>
