{% extends './home.html' %}

{% block title %}
	{% if objtype == "ADV" %}
		Advisor: {{ obj.unique_id }}
	{% elif objtype == "CRT"  %}
		CareTaker: {{ obj.unique_id }}
	{% elif objtype == "CLR"  %}
		Department: {{ obj.dept_id }}
	{% elif objtype == "PGE"  %}
		Academics Block: {{ obj.employee_id }}
	{% elif objtype == "REG"  %}
		{{ obj.designation }}: {{ obj.unique_id }}
	{% endif %}
{% endblock %}

{% block uid %}
	{% if objtype == "ADV" %}
		{{ obj.unique_id }}
	{% elif objtype == "CRT"  %}
		{{ obj.unique_id }}
	{% elif objtype == "CLR"  %}
		{{ obj.dept_id }}
	{% elif objtype == "PGE"  %}
		{{ obj.employee_id }}
	{% elif objtype == "REG"  %}
		{{ obj.unique_id }}
	{% endif %}
{% endblock %}

{% block navbar %}
	<ul class="navbar-nav flex-column">
	{% if objtype == "ADV" %}
			<li class="nav-item active">
				<a href = "/portal/advisor/{{ obj.unique_id }}/view_details/" class="nav-link">View Details</a>
			</li>

		    <li class="nav-item active">
				<a href = "/portal/advisor/{{ obj.unique_id }}/students/" class="nav-link">Students List</a>
			</li>

			<li class="nav-item dropdown">
		        <a href="#" class="nav-link dropdown-toggle" data-toggle = "dropdown" id = "dropdown01"> Applications </a>
		        <div class="dropdown-menu" aria-labelled = "dropdown01" id = "d1">
		            <a class="dropdown-item" href = "/portal/advisor/{{ obj.unique_id }}/applications/recommended/">Recommended</a>
		            <a class="dropdown-item" href = "/portal/advisor/{{ obj.unique_id }}/applications/accepted/">Accepted</a>
		            <a class="dropdown-item" href = "/portal/advisor/{{ obj.unique_id }}/applications/rejected/">Rejected</a>
		        </div>
		    </li>


			<li class="nav-item active">
				<a href = "#" class="nav-link">Student Complaint</a>
			</li>
		</ul>

	{% elif objtype == "CRT"  %}
			<li class="nav-item active">
				<a href = "/portal/caretaker/{{ obj.unique_id }}/view_details/" class="nav-link">View Details</a>
			</li>

		    <li class="nav-item active">
				<a href = "/portal/caretaker/{{ obj.unique_id }}/students/" class="nav-link">Students List</a>
			</li>

			<li class="nav-item dropdown">
		        <a href="#" class="nav-link dropdown-toggle" data-toggle = "dropdown" id = "dropdown01"> Applications </a>
		        <div class="dropdown-menu" aria-labelled = "dropdown01" id = "d1">
		            <a class="dropdown-item" href = "#">Recommended</a>
		            <a class="dropdown-item" href = "#">Accepted</a>
		            <a class="dropdown-item" href = "#">Rejected</a>
		        </div>
		    </li>


			<li class="nav-item active">
				<a href = "#" class="nav-link">Student Complaint</a>
			</li>

	{% elif objtype == "CLR" %}
			<li class="nav-item active">
				<a href = "/portal/department/{{ obj.dept_id }}/details/" class="nav-link">View Details</a>
			</li>

		    <li class="nav-item active">
				<a href = "/portal/department/{{ obj.dept_id }}/students/" class="nav-link">Students List</a>
			</li>

			<li class="nav-item active">
				<a href = "/portal/department/{{ obj.dept_id }}/advisors/" class="nav-link">List of Advisors</a>
			</li>

			<li class="nav-item dropdown">
		        <a href="#" class="nav-link dropdown-toggle" data-toggle = "dropdown" id = "dropdown01"> Applications </a>
		        <div class="dropdown-menu" aria-labelled = "dropdown01" id = "d1">
		            <a class="dropdown-item" href = "/portal/department/{{ obj.dept_id }}/applications/recommended/">Recommended</a>
		            <a class="dropdown-item" href = "/portal/department/{{ obj.dept_id }}/applications/accepted/">Accepted</a>
		            <a class="dropdown-item" href = "/portal/department/{{ obj.dept_id }}/applications/rejected/">Rejected</a>
		        </div>
		    </li>
	{% elif objtype == "PGE" %}
			<li class="nav-item active">
				<a href = "#" class="nav-link">View Details</a>
			</li>

		    <li class="nav-item active">
				<a href = "/portal/academics/department/{{obj.employee_id}}/applications/recommended/" class="nav-link">Recommended<br>Applications</a>
			</li>
			
	{% elif objtype == "REG"  %}
			<li class="nav-item active">
				<a href = "/portal/registrar/{{ obj.unique_id }}/applications/recommended/" class="nav-link">Recommended<br>Applications</a>
			</li>

	{% else %}
		    <li class="nav-item active">
				<a href = "#" class="nav-link">Invalid Portal</a>
			</li>			
	{% endif %}
	</ul>
{% endblock %}

{% block main %}
	<h1 style="font-size: 150px; margin-top: 300px;">
		<center>
			Welcome
		</center>
	</h1>
{% endblock %}