{% extends 'home.html' %}

{% block main %}
<style>
	legend{
		border: 4px solid black;
		color: red;
		padding: 2px;
	}

	label{
		padding: 2px;
	}
	td,th{
		width:450px;
	}

	.note{
		font-size: 25px;
	}
</style>
<div class = "note">
	<center>
		<b>
			<u>Note:</u>
			The details are taken from college database. If any detail is incorrect, kindly contact your advisor.
		</b>
	</center>
</div>

<form action = '.' method = 'POST' enctype = "multipart/form-data" style = "font-size: 25px">{% csrf_token %}
		<br>
		<fieldset>
			<legend><h1>PERSONAL INFORMATION</h1></legend>
				<table>
					<tr>
						<td>
							<label for = 'sname'>Student Name : </label>
						</td>
						<td>
							<label id='sname'> {{ obj.name }} </label>
						</td>
					</tr>
					<tr>
						<td>
                        	<label for = 'pname'>Father's/Mother's Name: 
                        	</label>
						</td>
						<td>
							<label id='pname'> {{obj.parents_name}} </label>
						</td>
					</tr>
					<tr>
						<td>
                        	<label for = 'mob'>Mobile no : </label>
                       	</td>
						<td>
							<label id='mob'>{{ obj.mobile  }}</label>
                       	</td>
					</tr>
					<tr>
						<td>
                        	<label for = 'address'>ADDRESS : </label>
						</td>
						<td>
							<label id='address'>{{ obj.Address }}</label>
						</td>
					</tr>
				</table>
		</fieldset>
		<br>
		<fieldset>
			<legend><h1>COLLEGE DETAILS</h1></legend>
			<table>
				<tr>
					<td>
						<label for = 'course'>COURSE : </label>
					</td>
					<td>
			            <label id='course'> Btech/Mtech </label>
					</td>
				</tr>
				<tr>
					<td>
			            <label for = 'urn'>URN : </label>
					</td>
					<td>
			            <label id='urn'>{{ obj.urn }}</label>
					</td>
				</tr>
				<tr>
					<td>
			           <label for = 'class'>CLASS :  </label>
					</td>
					<td>
			           <label id='class'> {{ obj.class_calculated}}</label>
					</td>
				</tr>
				<tr>
					<td>
			           <label for = 'dergreeyear'>Degree Year: </label>
					</td>
					<td>
					   <label id = "dergreeyear"> {{ obj.year }} </label>	
					</td>
				</tr>
				<tr>
					<td>
			            <label for = 'dname'>Department: </label>
					</td>
					<td>
			            <label id  = "dname"> {{ obj.branch }} </label>
					</td>
				</tr>
				<tr>
					<td>
			            <label for = 'session'>Session: </label>
					</td>
					<td>
			            <input type='text' id='session' value = "2017-2021">
					</td>
				</tr>
				<tr>
					<td>
						<label>Residence :</label>
					</td>
					<td>
                	    <label id='residence'> {{ obj.residence  }}</label>
                	</td>
				</tr>
			</table>
		</fieldset>
		<br>
		<fieldset>
			<legend><h1>PASS DETAILS</h1></legend>
			<table cellpadding ="6">
				<tr>
					<td>
						<label for = 'depo'>DEPO Name : </label>
					</td>
					<td>
						<input type='text' name='depo'>
					</td>
				</tr>
				<tr>
					<td style="width: 50px">
						<label>LOCATION : </label>
					</td>
					<td>
						<label for='from1'>FROM : </label>
					</td>
					<td>
						<input type='text' name='loc_from'>
					</td>
				</tr>
				<tr>
					<td></td>
					<td>
						<label for ='to1'>TO : </label>
					</td>
					<td>
						<input type='text' name='loc_to'>
					</td>
				</tr>
				<tr>
					<td>
						<label>PERIOD : </label>
					</td>
					<td>
			            <label for='from2'>FROM : </label>
			            <input type='date' name='period_from'>
					</td>
					<td>
						<label for ='to2'>TO : </label>
						<input type='date' name='period_to'>
					</td>
				</tr>
				<tr>
					<td>
						<label for = 'passno'>OLD PASS NUMBER: </label>
					</td>
					<td>
                        <input type='number' name='oldpassno'>
					</td>
					<td>
						<b>
							leave it blank if you are applying for the first time				
						</b>
					</td>
				</tr>
			</table>
		</fieldset>
		<br>	
		<center>
		<button style="background-color:blue; color:white" type = "submit">
                                Submit
                        </button>
                        <button style="background-color:blue; color:white" type = "reset">
                                Reset
                        </button>
                    </center>
		</form>
{% endblock %}
