<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table class='table table-striped table-borderd table-sm'>
        <thead>
            <tr>
                <th>Student Name</th>
                <th>Student URN</th>
                <th>Student id</th>
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
            <tr>
                <td>{{student.name}}</td>
                <td>{{student.urn}}</td>
                <td>{{student.id}}</td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <br>
    <center>
        <a href = '/crud/register'>Add New Record</a>
    </center>
</body>
</html>