{% extends '../navbar.html' %}

{% block main %}
<style>
	legend{
		border: 4px solid black;
		color: red;
		padding: 2px;
	}

	label{
		padding: 2px;
	}
	td,th{
		width:450px;
	}

	.note{
		font-size: 25px;
	}
</style>
		<br>
		<fieldset style="font-size: 25px">
			<legend><h1>PERSONAL INFORMATION</h1></legend>
				<table>
					<tr>
						<td>
							<label for = 'sname'>Student Name : </label>
						</td>
						<td>
							<label id='sname'> {{ student.name }} </label>
						</td>
					</tr>
					<tr>
						<td>
                        	<label for = 'pname'>Father's/Mother's Name: 
                        	</label>
						</td>
						<td>
							<label id='pname'> {{student.parents_name}} </label>
						</td>
					</tr>
					<tr>
						<td>
                        	<label for = 'mob'>Mobile no : </label>
                       	</td>
						<td>
							<label id='mob'>{{ student.mobile  }}</label>
                       	</td>
					</tr>
					<tr>
						<td>
                        	<label for = 'address'>ADDRESS : </label>
						</td>
						<td>
							<label id='address'>{{ student.Address }}</label>
						</td>
					</tr>
				</table>
		</fieldset>
		<br>
		<fieldset style="font-size: 25px">
			<legend><h1>COLLEGE DETAILS</h1></legend>
			<table>
				<tr>
					<td>
						<label for = 'course'>COURSE : </label>
					</td>
					<td>
			            <label id='course'> Btech </label>
					</td>
				</tr>
				<tr>
					<td>
			            <label for = 'urn'>URN : </label>
					</td>
					<td>
			            <label id='urn'>{{ student.urn }}</label>
					</td>
				</tr>
				<tr>
					<td>
			           <label for = 'class'>CLASS :  </label>
					</td>
					<td>
			           <label id='class'> {{ student.class_calculated}}</label>
					</td>
				</tr>
				<tr>
					<td>
			           <label for = 'dergreeyear'>Degree Year: </label>
					</td>
					<td>
					   <label id = "dergreeyear"> {{ student.year }} </label>	
					</td>
				</tr>
				<tr>
					<td>
			            <label for = 'dname'>Department: </label>
					</td>
					<td>
			            <label id  = "dname"> {{ student.branch }} </label>
					</td>
				</tr>

				<tr>
					<td>
						<label>Residence :</label>
					</td>
					<td>
                	    <label id='residence'> {{ student.residence  }}</label>
                	</td>
				</tr>
				{% if student.hostel_no != 0 %}
				<tr>
					<td>
						<label>Hostel No:</label>
					</td>
					<td>
                	    <label id='residence'> {{ student.hostel_no }}</label>
                	</td>
                </tr>
			   {% endif %}

			</table>
		</fieldset>

{% endblock %}		